<!DOCTYPE html>
<html>
<head>
  <title>James Eldridge</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="javascript" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body class="vertical-center">

<div class="container">
  <h1>Jpeppa</h1>
</div>

</body>
</html>
